{% extends 'base.html.twig' %}

{% block javascripts %}

	{#{ parent() }#}

	{{ encore_entry_script_tags('app') }}

{% endblock %}

{% block stylesheets %}

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	{{ encore_entry_link_tags('app') }}
	
{% endblock %}

{% block body %}

	<div id="app">
		<app></app>
	</div>

{% endblock %}